.create-room-form {
  padding: 3rem;

  .check-option-wrapper {
    margin-bottom: 1rem;
  }

  .textarea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    #button {
      margin: 10px;
    }
  }

  #option-field {
    display: flex;
    align-items: center;
  }

  #title-text {
    font-size: 30px;
  }

  h2 {
    display: inline;
    margin-right: 1rem;
  }
}
