@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  font-family: 'RIDIBatang';
  margin: 0 auto;
  width: 100%;
  height: 130px;
  background-color: #f4c8cc;
  text-align: center;
  color: white;

  display: flex;
  justify-content: center;

  h3 {
    margin: 0;
  }

  .text-wrapper {
    margin: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .partner-text {
    color: #5e5e5e;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-right: 10px;

    img {
      width: 70px;
      height: 70px;
    }
  }
}
