@import './utils.scss';

.history-list {
  width: 100%;
  height: 90%;
  overflow: auto;
  @include pink-border-template;
}

.history-list::-webkit-scrollbar {
  display: none;
}

@include mobile {
  h3 {
    font-size: 13px;
  }
}
