@import './utils.scss';

.modal-box {
  font-family: 'ubuntu-regular', 'tway_air';
  background-color: $dawnPink;
  position: fixed;
  width: 60%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.modal-box::-webkit-scrollbar {
  display: none;
}

.member-list {
  width: 30%;
  max-height: 60%;
  overflow: auto;
}

@include tablet {
  .modal-box {
    width: 80%;
    max-height: 50%;
  }
  .member-list {
    width: 80%;
  }
}

@include mobile {
  .modal-box {
    width: 95%;

    h2 {
      font-size: 17px;
    }

    .css-ahj2mt-MuiTypography-root {
      font-size: 12px;
    }
  }
  .member-list {
    width: 95%;
    max-height: 50%;
  }
}


