@import './utils.scss';

.modal-box {
  background-color: $lightPink;
  position: fixed;
  width: 60%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.modal-box::-webkit-scrollbar {
  display: none;
}
