body {
	font-family: 'Ubuntu', sans-serif;

	.option-wrapper .option-description {
		display: flex;
		justify-content: center;
	}

  .am-time, .pm-time {
	background-color: #e0e0e0;
  }

  .tag {
	padding-top: 5px;
	margin-left: 100px;
	display:inline-block;
	width:80px;
	font-weight: 500;
  }

  .option-group {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 130px;
  }

  .option-btn {
	padding-right: 40px;
	margin: 0 20px;
	float: right;
  }
}  
  
  