@import './utils.scss';

.close-button {
  @include flex-end-sort;
}

.room-detail-form {
  margin: 2rem;

  .button-wrapper {
    @include flex-end-sort;
  }

  .paragraph {
    border-bottom: 1px solid black;
  }

  .people-info {
    @include flex-vertical-center;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    svg {
      margin-right: 5px;
      color: lightcoral;
    }

    .people-count {
      @include flex-vertical-center;
    }
  }

  .select-info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .two-info-wrapper {
    width: 45%;
    margin-right: 5px;
  }

  .select-info {
    @include flex-vertical-center;
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;

    .category {
      min-width: 80px;
      font-weight: bold;
    }
  }

  .hashtag {
    color: $hashtag;
  }

  .botton-group-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    margin: 20px 10px;
    max-height: 36px;
  }

  .comment-input-wrapper {
    @include flex-center-sort;
    width: 100%;
  }

  .loading-icon {
    @include flex-center-sort;
  }
}

@include mobile {
  .room-detail-form {
    margin: 1.5rem;
  }
}
