@import './utils.scss';

.room-container {
  width: 100%;
  height: 80%;
  min-height: 35rem;
  overflow: auto;
  margin-bottom: 80px;
  @include pink-border-template;

  .room-list {
    display: flex;
    flex-wrap: wrap;
  }

  .create-button {
    margin: 0;
    top: auto;
    right: 5%;
    bottom: 15%;
    left: auto;
    position: fixed;
  }

  .loading-icon {
    width: 100%;
    height: 100%;
    @include flex-center-sort;
  }
}

.change-matching {
  text-decoration: none;
}
.room-container::-webkit-scrollbar {
  display: none;
}
