@import './utils.scss';

.select-form {
  width: 100%;
  display: flex;
  justify-content: center;

  #select-button {
    height: 400px;
    margin: 2rem;
    padding: 7rem;
    background-color: $lightSliver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #select-button:hover {
    filter: grayscale(70%);
    background-color: $gray2;
    color: $lightSliver;
  }

  img {
    width: 270px;
    height: 270px;
    margin: 1rem;
  }
}
